{% extends 'Home/base.html' %}
{% block title %}Bikes{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <th>My Bookings</th>
        <tr>
          <th scope="col">Order id</th>
          <th scope="col">Car Name</th>
          <th scope="col">Bike Name</th>
          <th scope="col">Location</th>
          <th scope="col">Date_of_delivery</th>
          <th scope="col">Order Date</th>
          <th scope="col">Status</th>
          <th scope="col">Return Date</th>
          <th scope="col">No.of vehicles</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cars in car %}
            <tr>
                <th scope="row">{{order.id}}</th>
                <td>{{order.car.name}}</td>
                <td>{{order.bike.name}}</td>
                <td>{{order.location}}</td>
                <td>{{order.date_of_delivery}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.status}}</td>
                <td>{{order.return_date}}</td>
                <td>{{order.no_of_vehicle}}</td>

                <td>
                    <a type="button" class="btn btn-info" href="{% url 'cancel_booking' order.id %}">Cancel</a>
                    <a type="button" class="btn btn-danger" href="{% url 'cancel_booking' order.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
  </table


{% endblock %}