{% extends 'account/base.html' %}
{% block title %}booking details{% endblock %}

{% block content %}

<table class="table table-sm" style="margin-top:50px;margin-bottom:50px">
      <thead>
      <th>Cars Ordered</th>
        <tr>
          <th scope="col">Car_id</th>
          <th scope="col">Customer_name</th>
          <th scope="col">Car name</th>

          <th scope="col">Location</th>
          <th scope="col">Date_of_delivery</th>
          <th scope="col">Booking_date</th>
          <th scope="col">Order_date</th>
          <th scope="col">Return_date</th>
          <th scope="col">No_of_vehicle</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for car_order in car_order %}
            <tr>
                <th scope="row">{{car_order.id}}</th>
                <td>{{car_order.customer}}</td>
                <td>{{car_order.car.name}}</td>
                <td>{{car_order.location}}</td>
                <td>{{car_order.date_of_delivery}}</td>
                <td>{{car_order.return_date}}</td>
                <td>{{car_order.order_date}}</td>
                <td>{{car_order.return_date}}</td>
                <td>{{car_order.no_of_vehicle}}</td>
                <td>{{car_order.status}}</td>
                <td>
                    {% if car_order.status == "Pending" %}
                        <a type="button" class="btn btn-success" href="{% url 'confirm_booking' car_order.id %}">Confirm</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>


    <table class="table table-sm" style="margin-top:50px;margin-bottom:50px">
      <thead>
      <th>Bikes Ordered</th>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer_name</th>
          <th scope="col">Bike_name</th>
          <th scope="col">Location</th>
          <th scope="col">Date_of_delivery</th>
          <th scope="col">Booking_date</th>
          <th scope="col">Return_date</th>
          <th scope="col">No_of_vehicle</th>
          <th scope="col">status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for bike_order in bike_order %}
            <tr>
                <th scope="row">{{bike_order.id}}</th>
                <td>{{bike_order.customer}}</td>
                <td>{{bike_order.bike}}</td>
                <td>{{bike_order.location}}</td>
                <td>{{bike_order.date_of_delivery}}</td>
                <td>{{bike_order.order_date}}</td>
                <td>{{bike_order.return_date}}</td>
                <td>{{bike_order.no_of_vehicle}}</td>
                <td>{{bike_order.status}}</td>
                <td>
                    {% if car_order.status == "Pending" %}
                        <a href="{% url 'confirm_booking' bike_order.id %}"><button type="button" class="btn btn-success">Confirm</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}