{% extends 'account/base.html' %}
{% load static %}
{% block title %}Car_upload{% endblock %}


{% block content %}
<table class="table table-striped">
    <thead>
        <th>Cars Uploaded</th>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Seat</th>
          <th scope="col">Desc</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cars in car %}
            <tr>
                <th scope="row">1</th>
                <td>{{cars.name}}</td>
                <td>{{cars.seat}}</td>
                <td>{{cars.desc}}</td>
                <td>{{cars.available}}</td>
                <td>{{cars.price}}</td>
                <td>{{cars.img}}</td>
                <td>
                    <a type="button" class="btn btn-info" href="{% url 'car_edit' cars.id %}">Edit</a>
                    <a type="button" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}